@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html 
{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root
{
    --text-color: #f5f5f5;
    --hover-color: #12f7ff;
    --bg-color: #250821;
    --secon-bg-color: #292e33;
    --big-font: 2.5rem;
    --normal-font: 2rem;
    --neon-box-shadow: 0 0 .5rem #12f7ff;
    --h2-font: 3rem;

   /* For Chatbot */
   --chat-bg-color: rgba(0, 0, 0, 0.8);   /* Background color for faint effect */
   --chat-font: "Poppins", sans-serif; 

    --font-neon-text-shadow: 0 0 10px rgba(18, 247, 255, 0.3),
    0 0 20px rgba(18, 247, 255, 0.3),
    0 0 30px rgba(18, 247, 255, 0.3),
    0 0 40px rgba(18, 247, 255, 0.3),
    0 0 70px rgba(18, 247, 255, 0.3),
    0 0 80px rgba(18, 247, 255, 0.3),
    0 0 100px rgba(18, 247, 255, 0.3),
    0 0 150px rgba(18, 247, 255, 0.3);
}


body
{
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* for chatbot */
body.faint 
{
    background-color: var(--chat-bg-color);
    transition: background-color 0.3s ease-in-out;
}


header
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
}

header.sticky
{
    background: var(--bg-color);
    border-bottom: 1px solid var(--secon-bg-color);
    padding: 12px 10%;
}

.logo
{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

span
{
    color: var(--hover-color);
    font-size: larger;
}

.navlist
{
    display: flex;
}

.navlist a
{
    display: inline-block;
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 20px;
    animation: slideAnimation 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
    opacity: 0;
}

.navlist a:hover
{
    color: var(--hover-color);
    text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6),
    0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6),
    0 0 70px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6),
    0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
}

.navlist a.active
{
    color: var(--hover-color);

}

::-webkit-scrollbar
{
    height: 0;
    width: .5rem;
}

::-webkit-scrollbar-track
{
    background: var(--secon-bg-color);
}

::-webkit-scrollbar-thumb
{
    background: var(--hover-color);
    border-radius: 5rem;
}

#menu-icon
{
    font-size: 1.8rem;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    background: var(--hover-color);
    border-radius: 3px;
    color: var(--secon-bg-color);
    display: none;
}

section
{
    padding: 100px 10%;
}


/* For Light Mode */
.light-mode 
{
    --bg-color: #F7E7CE;
    --text-color: #000000;
    --hover-color: #003b7a;
    --secon-bg-color: #e3cef7;
    --neon-box-shadow: 0 0 .8rem #378fec;
}

/* Apply the styles using the variables */
body.light-mode 
{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

.service-box,.contact, .skills 
{
    background-color: var(--secon-bg-color);
    color: var(--text-color);
}

.light-mode .home #Sub-heading
{
    color: black;
}

.light-mode .about h3
{
    color: black;
}

.light-mode .services h3
{
    color: rgb(1, 1, 79);
}

.light-mode .skills h3
{
    color: rgb(5, 5, 87);
}

.light-mode footer
{
    background-color: var(--bg-color);
    color: black;
}

.light-mode .info-box span
{
    color: rgb(113, 113, 113);
}
.light-mode .home-content p
{
    color: var(--text-color);
}

.light-mode .about-content p
{
    color: var(--text-color);
}

.light-mode .about span
{
    color: black;
}

.light-mode .about-content #qualification
{
    color: rgb(4, 7, 67);
}

.light-mode .services span
{
    color: black;
}

.light-mode .services .service-box p
{
    color: black;
}

.light-mode .skills span
{
    color: black;
}

.light-mode .skills .text
{
    color: black;
}

.light-mode .portfolio span
{
    color: black;
}

.light-mode .portfolio-gallery .port-content p,h3
{
    color: white;
}

.light-mode .port-content h3
{
    color: rgb(69, 199, 255);
}

.light-mode .port-content a
{
    background-color: rgb(30, 169, 228);
}

.light-mode .contact span
{
    color: black;
}

.light-mode footer p 
{
    color: black;
}

.navlist a, .social-icons a 
{
    color: var(--text-color);
}

.navlist a:hover, .social-icons a:hover 
{
    color: var(--hover-color);
}


/* Mode Button */
.mode-btn 
{
    background-color: var(--bg-color);
    color: var(--hover-color);
    padding: 11px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
}

.mode-btn i 
{
    font-size: 25px;
}


/* Home Section */
.home
{
    min-height: 100vh;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 4em;
}

.home-content
{
    max-width: 600px;
}

.home-content h4
{
    font-size: var(--big-font);
    font-weight: 650;
}

.change-text
{
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 7px;
}

#heading
{
    font-size: 32px;
}

#name
{
    font-size: 40px;
}

.change-text h3
{
    display: inline-flex;
    margin: 0;
    vertical-align: top;
    font-size: 35px;;
}

.change-text h3 .word
{
    display: flex;
    position: absolute;
    opacity: 0;
    top: 50px;
}

.change-text h3 .word .letter
{
    transform-origin: center center 25px;
}

.change-text h3 .word .letter.out
{
    transform: rotateX(90deg);
    transition: 0.32s cubic-bezier(0.6,0,0.7,0.2);
}

.change-text h3 .word .letter.in
{
    transition: 0.38s ease;
}

.change-text h3 .word .letter.behind
{
    transform: rotateX(-90deg);
}

.home-content p
{
    color: white;
    line-height: 1.4;
    padding-top: 18px;
    text-align: justify;
}


.info-box
{
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin: 1rem 0 1.5rem;
}

.bx-envelope
{
    font-size: 25px;
    color: var(--hover-color);
    position: relative;
    top: 5px;
}


.info-box span
{
    font-size: 1rem;
    font-weight: 600;
    color: #bdbdbd;
}

.btn-box
{
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 45px;
}

.btn-box .btn
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--hover-color);
    color: var(--bg-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .6s;
    box-shadow: var(--neon-box-shadow);
    border-radius: 5px;
    width: 150px;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid var(--hover-color);
}


.btn::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .4s;
}

.btn:hover
{
    color: var(--hover-color);
}

.btn:hover::before 
{
    width: 100%;
}

.btn:nth-child(2)
{
    background: var(--bg-color);
    color: var(--hover-color);
}

.btn:nth-child(2):hover::before {
    background: var(--hover-color);
    color: var(--text-color);
}

.btn:nth-child(2):hover {
    background: var(--hover-color);
    color: var(--bg-color);
}

.social-icons
{
    margin-top: 5.5rem;
    display: flex;
    justify-content: space-between;
    width: 190px;
    height: 45px;
}

.social-icons a
{
    display: inline-flex;
    width: 88px;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: var (--bg-color);
    color: var(--hover-color);
    border: 2px solid var(--hover-color);
    transition: .6s;
    box-shadow: 0 0 0.3rem #12f7ff;
    position: relative;
    border-radius: 5px;
    z-index: 1;
    overflow: hidden;
}

.social-icons a i
{
    font-size: 1.8rem;
}

.social-icons a:hover
{
    color: var(--bg-color);
    
}

.social-icons a::before
{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    transition: .6s;
    z-index: -1;
    background: var(--hover-color);
}

.social-icons a:hover::before
{
    width: 100%;
}

.home-image
{
    position: relative;
}

.img-box
{
    text-align: center;
    position: relative;
    left: 130px;
    top: 20px;
}

.img-box lottie-player {
    width: 350px;
    height: 350px;
} 




/* About Section */
.about
{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2em;
    background: var(--secon-bg-color);
}

.about .img-about
{
    text-align: center;
    position: relative;
}

.img-about lottie-player 
{
    width: 400px;
    height: 400px;
} 


.about-content span
{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about-content h2
{
    color: var(--hover-color);
    font-weight: 700;
    font-size: var(--normal-font);
}

.about-content h3
{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: .2rem;
}

.about-content p
{
    color: #fdfdfd;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: justify;
}

#education
{
    color: var(--hover-color);
    font-weight: 600;
    font-size: 23px;
    text-transform: capitalize;
    letter-spacing: normal;
}

#qualification
{
    font-size: 17px;
    letter-spacing: normal;
    font-weight: 500;
    color: #b0fcff;
}

.main-text
{
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--hover-color);
}

#read-more-btn 
{
    margin-top: 10px;
    background-color: var(--hover-color);
    color: var(--bg-color);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#read-more-btn:hover 
{
    background-color: var(--bg-color);
    color: var(--hover-color);
}


.main-text h2
{
    font-weight: 700;
    font-size: var(--normal-font);
}

.main-text span
{
    color: #fdfdfd;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bxs-bulb
{
    color: yellow;
    font-size: 25px;
    position: relative;
    right: 2px;
    top: 2px;
}



/* Services Section */
.section-services
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 2rem;
}

.section-services .service-box
{
    flex: 1 1 18rem;
    padding: 2rem 1rem 2rem;
    text-align: center;
    background: var(--secon-bg-color);
    transition: transform .4s;
    border-radius: 10px;
    box-shadow: var(--neon-box-shadow);
}

.service-btn
{
    width: auto;
    justify-content: center;
}

.service-box:hover
{
    transform: translateY(-.7rem);
}

.service-icon
{
    border: 2px solid var(--hover-color);
    padding: 2rem;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    position: relative;
    color: var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    outline: 3px solid var(--bg-color);
}

.service-box h3
{
    margin-top: 10px;
    font-size: 1.5rem;
}

.service-box p
{
    margin: .5rem 0 1.5rem 0;
    font-weight: 350;
    letter-spacing: 0.9px;
    color: #d3d3d3;
    line-height: 1.5rem;
    text-align: justify;
}



/* Skills Section */
.skills
{
    background: var(--secon-bg-color);
}


.skill-main
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}

.skill-bar
{
    margin-bottom: 2.3rem;
}

.skill-main h3
{
    margin-bottom: 2rem;
    font-size: var(--normal-font);
    text-align: center;
}

.skill-left .skill-bar .info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px; 
}

.skill-left .skill-bar .bar 
{
    width: 100%;
    height: 10px;
    background-color: var(--bg-color);
    border-radius: 25px;
    margin-top: 10px;
    position: relative;
}

.skill-bar .bar span
{
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--hover-color);
    border-radius: 25px;
    box-shadow: var(--neon-box-shadow);
}

.skill-bar .bar .frontend
{
    width: 87%;
    animation: frontend 2s;
}

.skill-bar .bar .webdesign
{
    width: 92%;
    animation: webdesign 3s;
}

.skill-bar .bar .graphicdesign
{
    width: 65%;
    animation: graphicdesign 4s;
}

.skill-bar .bar .uiuxdesign
{
    width: 80%;
    animation: uiuxdesign 5s;
}

.professional
{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.box 
{
    margin: 10px 0;
    flex: 1 1 15rem;
    position: relative;
}

.box .text
{
    align-items: center;
    color: #fff;
    font-size: 1rem;
}

.box .text big
{
    font: 400;
    letter-spacing: 1px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box .text small
{
    display: block;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
}

.circle
{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle .points
{
    width: 2px;
    height: 10px;
    background-color: var(--bg-color);
    position: absolute;
    border-radius: 3px;
    transform: rotate(calc(var(--i)*var(--rot))) translateY(-45px);
}

.points.marked
{
    animation: glow 0.04s linear forwards;
    animation-delay: calc(var(--i)*0.05s);
}

.fillter-buttons
{
    margin: 2rem;
    text-align: center;
}

.fillter-buttons .button
{ 
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: .85rem;
    font-weight: 600;
    letter-spacing: .4px;
    margin-left: 1.3rem;
    color: var(--text-color);
}

.fillter-buttons .button:hover
{
    color: var(--hover-color);
}




/* Portfolio Section */
.portfolio-gallery
{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(270px, 1fr));
    gap: 2rem;
}


.port-box {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #292e33;
    display: flex;
    grid-template-rows: 1fr auto;
    align-items: center;
    border: 2px solid var(--hover-color);
    box-shadow: var(--neon-box-shadow);
    transform: scale(1);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.port-image
{
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.port-image img {
    width: 100%;
    height: 180px;
    display: block;
    transition: transform 0.8s ease;
}


.port-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(0, 0, 0, 0.75);
    display: inline;
    transform: translateY(100%);
    transition: transform 0.5s ease;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
.port-box:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}


.port-box:hover .port-content {
    transform: translateY(0);
    opacity: 1;
}

.port-box:hover img {
    transform: scale(1.1);
}


.port-content h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: var(--hover-color);
}


.port-content p {
    font-size: .7rem;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: justify;
    color: #e0e0e0;
}

.port-content a        
{
    background: var(--hover-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid rgb(27, 82, 84);
}

.port-content a:hover {
    background-color: var(--hover-color);
    color: var(--bg-color);
}

.port-box:hover img {
    transform: scale(1.1);
}

.port-box:hover .port-content {
    transform: translateY(0);
    opacity: 1;
}

.port-content a i
{
    font-size: 1.2rem;
    color: var(--secon-bg-color);
}




/* Contact Section */
.contact
{
    background: var(--secon-bg-color);
    width: 100%;

}

.contact form
{
    text-align: center;
    max-width: 50rem;
    margin: 1rem auto;
    margin-bottom: 3rem;
}

.contact form input,
.contact form textarea
{
    width: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    margin-bottom: .8rem;
    border: none;
    border-radius: 5px;
    padding: .7rem;
}

.contact form textarea
{
    resize: none;
}

.formBtn
{
    display: flex;
    justify-content: center;
    width: 100%;

}

.formBtn .btn
{
    cursor: pointer;
    font-size: 1rem;
}



/* Footer Section */
footer
{
    padding: 1.5rem 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer p
{
    color: #bdbdbd;
}

footer a
{
    display: inline-flex;
    justify-content: center;
    color: var(--text-color);
    background: var(--hover-color);
    padding: .6rem;
    border-radius: 5px;
}

footer a i
{
    font-size: 1rem;
    color: var(--secon-bg-color);
}

.scroll-scale
{
    opacity: 0;
    transform: scale(.9);
    transition: all 2s;
}

.scroll-bottom
{
    opacity: 0;
    transform: translateY(300px);
    transition: 3s;
}

.scroll-top
{
    opacity: 0;
    transform: translateY(-300px);
    transition: 3s;
}

.show-items
{
    opacity: 1;
    transform: translateX(0);
}


/* Chatbot Styles */
.chat-icon 
{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: var(--hover-color);
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: var(--bg-color);
}

.chat-header 
{
    background-color: var(--hover-color);
    color: var(--bg-color);
    padding: 10px;
    font-size: 19px;
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-reset-icon 
{
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    left: 10px;
}

.chat-close-icon 
{
    font-size: 18px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.chat-container 
{
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 320px;
    height: 420px;
    border: 2px solid var(--secon-bg-color);
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: var(--neon-box-shadow);
    display: none;
    flex-direction: column;
    z-index: 1000;
    font-family: var(--chat-font); 
    font-size: 14px; 
    font-weight: 400;
}

.chat-body 
{
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid var(--secon-bg-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    font-weight: 400; 
}

.chat-body .message 
{
    border-radius: 5px;
    padding: 10px;
    max-width: 80%;
    display: inline-block;
    text-align: justify;
}

.chat-body .message.user 
{
    background-color: var(--hover-color);
    color: var(--bg-color);
    align-self: flex-end;
    font-size: 14px;
    font-weight: 550;
    font-family: "Poppins", sans-serif;
}

.chat-body .message.bot 
{
    background-color: var(--secon-bg-color);
    color: var(--text-color);
    align-self: flex-start;
}

.chat-input 
{
    display: flex;
    border-top: 1px solid var(--secon-bg-color);
}

.chat-input input 
{
    flex: 1;
    border: none;
    padding: 10px;
    background-color: var(--secon-bg-color);
    color: var(--text-color);
    font-size: 14px;
}

.chat-input button 
{
    padding: 10px;
    border: none;
    background-color: var(--hover-color);
    color: var(--bg-color);
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid var(--bg-color);
}

header 
{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 10%;
}

header.sticky 
{
    background: var(--bg-color);
    border-bottom: 1px solid var(--secon-bg-color);
    padding: 12px 10%;
}

.chat-icon i 
{
    font-size: 38px;
}

.chat-header .chat-reset-icon,
.chat-header .chat-close-icon 
{
    font-size: 18px;
    cursor: pointer;
}


.logo 
{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

span 
{
    color: var(--hover-color);
    font-size: larger;
}


/* Styling for the bot message with a button */
.message .chat-button 
{
    background-color: var(--hover-color);
    color: var(--bg-color);
    font-family: "Poppins", sans-serif;
    padding: 8px 12px;
    border: 3px solid var(--bg-color);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    left: 25px;
    width: 70%;
    margin: 10px 0 0 5px;
    display: inline-block;
    font-size: 16px; 
    font-weight: 600;
    justify-content: center;
}

.message .chat-button:hover 
{
    background-color: var(--bg-color);
    color: var(--hover-color);
    border: 3px solid var(--hover-color);
} 


.styled-link 
{
    background-color: var(--hover-color);
    color: var(--bg-color);
    padding: 3px 7px;
    border: 2px solid var(--bg-color);
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0 0 5px;
    display: inline-block;
    font-size: 15px; 
    font-weight: 700;
    text-decoration: none; 
    text-align: center; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.styled-link:hover 
{
    background-color: var(--bg-color);
    color: var(--hover-color);
    text-decoration: none; 
}

/* Custom Cursor Styling */
.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: var(--hover-color);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    transition: transform 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out;
}

.custom-cursor.hover {
    width: 25px;
    height: 25px;
    background-color: var(--hover-color);
    transform: translate(-50%, -50%) scale(1.2);
    transition: transform 0.15s ease-out, width 0.15s ease-out, height 0.15s ease-out;
}


/* Star Button */
#star-btn {
    font-size: 1.7rem; 
    color: var(--hover-color); 
    cursor: pointer; 
    transition: transform 0.3s ease, color 0.3s ease; 
    position: fixed; 
    right: 65px; 
    z-index: 1000;
}

#star-btn:hover {
    color: gold; 
    transform: scale(1.2); 
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.8), 0 0 20px rgba(255, 215, 0, 0.8),
                 0 0 30px rgba(255, 215, 0, 0.8), 0 0 40px rgba(255, 215, 0, 0.8),
                 0 0 50px rgba(255, 215, 0, 0.8); /* Glow effect */
}

#star-btn:active {
    transform: scale(1.1); 
    color: #ffd700; 
}


@keyframes morph 
{
    0%,
    100%{
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    } 
    30%{
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    60%{
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }  
    80%{
        border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
    }  
}


@keyframes frontend 
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 87%;
    }
}


@keyframes webdesign 
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 92%;
    }
}

@keyframes graphicdesign 
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 65%;
    }
}

@keyframes uiuxdesign 
{
    0%
    {
        width: 0%;
    }
    100%
    {
        width: 80%;
    }
}


@keyframes glow 
{
    0%
    {
        background: var(--bg-color);
        box-shadow: none;
    }
    100%
    {
        background: var(--hover-color);
        box-shadow: var(--neon-box-shadow);
    }
}

@keyframes slideAnimation 
{
    0%
    {
        opacity: 0;
        transform: translateY(100px);
    }
    100%
    {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(max-width:991px)
{
    header, header.sticky
    {
        padding: 15px 5%;
    }  
    footer
    {
        padding: 15px 5%;
    } 
    section
    {
        padding: 50px 5%;
    }   
    .navlist a
    {
        padding: 8px 15px;
    }    
    :root
    {
        --big-font: 2.2rem;
        --normal-font: 1.8rem;
        --neon-box-shadow: 0 0 .8rem #12f7ff;
        --h2-font: 3rem;
    } 

    #star-btn {
        display: none; 
    }

    #heading {
        font-size: 27px; /* Adjust as needed */
    }

    #name {
        font-size: 32px; /* Adjust as needed */
    }

    .change-text h3 {
        font-size: 27px; /* Adjust as needed */
    }
    
    .word
    {
        font-size: 30px;
    }

    .home-content
    {
        margin-top: 5rem;
    }

    .social-icons
    {
        margin-top: 2rem;

    }
    .chat-container {
        width: 280px;
        height: 380px;
    }

    .chat-icon {
        width: 50px;
        height: 50px;
        font-size: 22px;
    }

    .chat-header {
        font-size: 18px;
        padding: 8px;
    }

    .chat-body {
        font-size: 13px;
    }

    .chat-input input,
    .chat-input button {
        padding: 8px;
    }

    .chat-icon i {
        font-size: 30px;
    }
}


@media(max-width:768px)
{
    #menu-icon
    {
        display: block;
        transition: all .4s ease;
    }

    #heading {
        font-size: 23px; /* Adjust as needed */
    }

    #star-btn {
        display: none; 
    }

    #name {
        font-size: 28px; /* Adjust as needed */
    }

    .change-text #Sub-heading {
        font-size: 20px; /* Decrease font size */
        /* line-height: 1.2; Adjust line height */
        letter-spacing: -0.5px; /* Adjust letter spacing */
        position: relative;
        top: 11px; 
    }
    
    .word
    {
        font-size: 25px;
    }

    #menu-icon.bx-x
    {
        transform: rotate(-180deg);
    }

    .navlist
    {
        display: flex;
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        padding: 0 5%;
        transition: all .4s ease;
    }

    .navlist a
    {
        display: block;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    .navlist.open
    {
        top: 100%;
    }

    .home
    {
        grid-template-columns: 1fr;
    }

    .home-image
    {
        margin-bottom: 2rem;
    }

    .img-box {
        left: 2;
        top: 0;
        margin-top: 2rem;
    }

    .img-box lottie-player {
        width: 300px;
        height: 300px;
        align-items: center;
    }


    .img-about lottie-player {
        width: 300px;
        height: 300px;
        align-items: center;
    }

    .about
    {
        flex-direction: column-reverse;
    }

    .skill-main
    {
        grid-template-columns: 1fr;
    }

    .fillter-buttons
    {
        margin: 2.5rem 0;
    } 

    footer p
    {
        font-size: .8rem;
    } 

    .chat-container {
        width: 250px;
        height: 350px;
    }

    .chat-icon {
        width: 45px;
        height: 45px;
        font-size: 20px;
    }

    .chat-header {
        font-size: 17px;
        padding: 7px;
    }

    .chat-body {
        font-size: 12px;
    }

    .chat-input input,
    .chat-input button {
        padding: 7px;
    }

    .chat-icon i {
        font-size: 28px;
    }

    .mode-btn {
        top: 15px;
        right: 55px;
    }
}

@media(max-width:420px)
{
    html 
    {
        font-size: 80%;
    }

    footer p
    {
        font-size: .6rem;
    }

    .fillter-buttons .button
    {
        font-size: .8rem;
    }

    #star-btn {
        display: none; 
    }

    .img-box {
        left: 1.5px;
        top: 0;
        margin-top: 2rem;
    }
    
    .img-about img
    {
        width: 300px;
    }

    #heading {
        font-size: 23px; /* Adjust as needed */
    }

    #name {
        font-size: 28px; /* Adjust as needed */
    }

    .change-text h3 {
        font-size: 23px; /* Adjust as needed */
    }
    
    .word
    {
        font-size: 28px;
    }

    .img-about p
    {
        font-size: 1rem;
    }

    .chat-container {
        width: 220px;
        height: 320px;
    }

    .chat-icon {
        width: 40px;
        height: 40px;
        font-size: 18px;
        right: 50px;
    }

    .chat-header {
        font-size: 16px;
        padding: 6px;
    }

    .chat-body {
        font-size: 11px;
    }

    .chat-input input,
    .chat-input button {
        padding: 6px;
    }

    .chat-icon i {
        font-size: 26px;
    }

    .chat-input input 
    {
        width: calc(75% - 6px); 
        box-sizing: border-box; 
    }

    .chat-input button 
    {
        width: calc(25% - 6px); 
        box-sizing: border-box; 
    }
    .mode-btn {
        top: 15px;
        right: 40px;
    }
}




